@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fafafa;
    --black: #262526;
    --vinho: #8C3041;
    --azul: #7C87A6;
    --azul-claro: #D5DCF2;
    --azul-marinho: #364659;
    --vermelho: #591E1E;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    padding-top: 80px;
    background-color: var(--branco);
}

header {
    position: fixed;
    width: 100vw;
    height: 80px;
    top: 0;
    background-color: var(--black);
    box-shadow: rgba(0, 0, 0, 0.371) 1px 3px 8px;
    border-bottom: 2px solid var(--vermelho);
    z-index: 999;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav > div {
    display: flex;
}

#logo {
    margin-left: 25px;
}

#form-pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pesquisa {
    max-width: 400px;
    width: 50vw;
    padding: 10px;
    border: 1px solid var(--azul);
    border-radius: 5px;
    margin-right: 10px;
}

#pesquisa-button {
    background: none;
    border: none;
    color: var(--branco);
    font-size: 1.2rem;
    cursor: pointer;
}

#abrir-menu, #fechar-menu {
    color: var(--branco);
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    transition: color .3s ease;
}

#abrir-menu > i {
    position: relative;
    z-index: -1;
    margin-right: 25px;
}

#abrir-menu:hover, #fechar-menu:hover {
    color: var(--azul);
}

#tooltip-container {
    position: absolute;
    top: 20px;
    right: 100px;
    color: var(--branco);
    transition: color .3s ease;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tooltip-container:hover {
    color: var(--azul);
}

#login-icon {
    font-size: 2rem;
}

#tooltip {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    background-color: var(--branco);
    color: var(--black);
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    top: 90%;
    left: 55%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity .3s;
    position: absolute;
    z-index: 1;
}

#tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

#tooltip > p {
    font-size: .8rem;
    width: 90%;
}

#tooltip-container:hover #tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip-links {
    text-decoration: none;
    padding: 10px 0;
    font-weight: bold;
    border-radius: 10px;
    width: 80%;
}

.tooltip-links:hover {
    opacity: 80%;
}

#tooltip-login {
    background-color: var(--azul);
    color: white;
}

#tooltip-cadastro {
    color: var(--azul);
    border: 3px solid var(--azul);
}

#menu {
    display: block;
    height: 100dvh;
    width: 300px;
    top: 0;
    right: 0;
    left: -120%;
    transition: left .5s ease;
    position: fixed;
    background-color: var(--black);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
}

#top {
    display: flex;
    justify-content: space-between;
}

#menu-h1 {
    font-size: 1.1rem;
}

#menu-h1 > a {
    color: var(--branco);
}

#menu-h1 i {
    margin-right: 10px;
    top: 5px;
    position: relative;
}

#menu li {
    color: var(--branco);
    list-style-type: none;
    padding: 20px;
}

.botao-menu {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.ajuda-configuracoes {
    justify-content: flex-start;
}

.ajuda-configuracoes a {
    display: flex;
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.ajuda-configuracoes i {
    margin-right: 10px;
}


.botao-menu:hover {
    background-color: #181818 !important;
}

.dropdown {
    display: none;
}

.dropdown li {
    background-color: #181818;
    font-size: .9rem; 
    padding: 10px 22px !important;
    text-indent: 30px;
}

.dropdown li a {
    color: var(--branco);
    text-decoration: none;
}

.dropdown li a:hover {
    color: var(--azul);
}

#apresentacao {
    background-image: radial-gradient(var(--branco), var(--azul-claro));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid var(--black);
    height: 80vh;
}

#apresentacao-texto {
    margin: 50px;
}

#apresentacao-destaque {
    color: var(--vinho);
}

#apresentacao-texto > h1 {
    font-size: 3rem;   
}

#apresentacao-texto > p {
    margin-top: 20px;
}

#apresentacao-texto > span {
    color: var(--black);
    font-size: .9rem;
    opacity: 80%;
}

.button-link {
    text-decoration: none;
}

#apresentacao-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--vermelho);
    font-size: 1rem;
    width: 230px;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 5px;
    margin-top: 25px;
    color: var(--branco);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#apresentacao-button:hover {
    border: 2px solid var(--vermelho);
    color: var(--branco);
    background-color: var(--black);
}

#apresentacao-button:hover > i {
    -webkit-animation: Down .5s infinite  alternate;
    animation: Down .5s infinite  alternate;
}
  
@-webkit-keyframes Down {
    0% { transform: translateY(0); }
    100% { transform: translateY(3px); }
}

@keyframes Down {
    0% { transform: translateY(0); }
    100% { transform: translateY(3px); }
}

#categoria {
    background-color: var(--azul-marinho);
    padding: 20px;
    border-bottom: 2px solid var(--branco);
}

#categoria > h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--branco);
}

.border-botton {
    height: 3px;
    margin: auto;
    margin-bottom: 40px;
}

#categoria-title {
    width: 300px;
    background-color: var(--azul);
}

#produtos-container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.produtos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 30vw;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--azul);
}

.produtos-titulo {
    color: var(--branco);
    font-size: 1.2rem;
    text-align: center;
}

.produtos-img {
    filter: drop-shadow(10px 10px 4px #0000008d);
    transition: all .2s ease-in-out;
    width: 80%;
    height: auto;
}

.produtos-img:hover {
    transform: scale(1.1);
}

#produtos-destaque {
    background-color: var(--vinho);
    color: var(--branco);
    padding: 20px;
}

#produtos-destaque > h1 {
    text-align: center;font-size: 2rem;
}

#produtos-destaque > span {
    display: block;
    font-size: 0.9rem;
    opacity: 80%;
    text-align: center;
    margin-bottom: 10px;
}

#produtos-destaque-title {
    width: 250px;
    background-color: var(--azul-claro);
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--black);
    height: max-content;
    width: 22vw;
    padding: 10px;
    background-color: var(--azul-claro);
    border-radius: 10px;
}

.cards > img {
    margin: 0 auto;
    background-color: #0000002a;
    border-radius: 10px;
    width: 100%;
}

.cards > span {
    display: block;
    font-size: 0.9rem;
    opacity: 90%;
}

.cards > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards > div > button {
    border: none;
    font-size: 1.5rem;
    background-color: #0000002a;
    padding: 7px;
    border-radius: 50%;
    color: var(--azul-marinho);
    cursor: pointer;
}

.stars {
    color: goldenrod;
    margin-bottom: 5px;
}

.cards > div > button:active {
    background-color: var(--azul);
}

.cards p {
    font-weight: bold;
}

.cards-price {
    color: var(--azul-marinho);
}

#recomendado {
    background-image: radial-gradient(var(--black) 50%, black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    border-bottom: 2px solid var(--branco);
}

#recomendado-img {
    height: auto;
    width: 30vw;
}

#recomendado-texto {
    color: var(--branco);
    width: 40vw;
    text-align: justify;
}

#recomendado-texto > h1 {
    margin-bottom: 30px;
    font-size: 2rem;
}

#recomendado-texto > p {
    font-size: 1.5rem;
}

#recomendado-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    font-size: 1rem;
    width: 230px;
    border: none;
    border-radius: 20px;
    padding: 10px 5px;
    margin-top: 25px;
    color: var(--branco);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    cursor: pointer;   
    transition: all .2s ease;
}

#recomendado-button > i {
    margin-left: 10px;
}

#recomendado-button:hover {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
}

#avaliacoes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: max-content;
    padding: 30px 10px;
    background-image: radial-gradient(var(--branco), var(--azul-claro));
    border-bottom: 2px solid var(--vermelho);
}

.avaliacoes-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px var(--vinho);
    width: 30vw;
    height: max-content;
    padding: 20px;
    background-color: var(--branco);
}

.avaliacoes-card > h1 {
    color: var(--vinho);
    font-size: 2rem;
}

.avaliacoes-card > p {
    font-size: 1rem;
    margin: 10px 0;
    text-align: justify;
}

.avaliacoes-card > .stars {
    color: var(--vinho);
    margin: 5px 0 15px 0;
}

.avaliacoes-card > img {
    width: 3vw;
    height: auto;
}

footer {
    background-color: var(--black);
    color: #F2EFE9;
    padding-top: 2em;
    height: max-content
}

footer > #informacoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
}

#informacoes-sobre > picture > img {
    margin-bottom: 10px;
}

#informacoes-sobre > p {
    width: 30vw;
    text-align: justify;
    text-indent: 1.5em;
    font-size: 1rem;
}


#informacoes-contato > h2 {
    margin: 20px 0px 5px 0px;
    font-size: 1.5rem;
}

#informacoes-contato i {
    border: none;
}

#quick-links > h2 {
    margin-bottom: 20px;
}

#quick-links li {
    margin: 8px 0px;
}

#quick-links a {
    color: #F2EFE9;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: border .2s ease-in-out;
    opacity: 80%;
}

#quick-links a:hover {
    border-bottom: 1px solid var(--azul-claro);
    opacity: 100%;
}

#informacoes-contatos i {
    color: var(--azul-claro);
    border: 1px solid var(--azul-claro);
    padding: 5px;
    border-radius: 50%;
    margin: 0px 5px;
    transition: all .3s ease-in-out;
}

#informacoes-contatos i:hover {
    transform: scale(1.1);
}

#informacoes-contatos > h2 {
    margin-bottom: 10px;
}

#informacoes-contatos > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

#informacoes-contatos > form > input[type='email'] {
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--azul-marinho);
    background-color: black;
}

#informacoes-contatos > form > input[type='submit'] {
    margin: 5px 0px;
    padding: 5px;
    width: 100%;
    background-color: var(--azul-marinho);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    transition: background .3s ease-in-out;
}

#informacoes-contatos > form > input[type='submit']:hover {
    background-color: var(--azul);
}

#informacoes-contatos > ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#informacoes-contatos > ul > li {
    display: inline-block;
}

#informacoes-contatos > ul i {
    font-size: 1.2em;
    padding: 10px;
}

footer .logo {
    width: auto;
    height: 40px;
    padding-left: 50px;
}

footer a {
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer > p {
    text-align: center;
    padding: 10px 0px;
    font-size: 1.2em;
}

footer > p > a {
    font-weight: bold;
    color: var(--vinho);
}