@charset "UTF-8";

@media screen and (max-width: 1000px) {

    #tooltip-container {
        display: none;
    }

    #tooltip {
        top: 100%;
    }

    #apresentacao {
        flex-direction: column;
        height: max-content;
    }

    #apresentacao-texto {
        font-size: 1rem;
    }

    #apresentacao-texto > h1 {
        font-size: 2rem;
    }

    #apresentacao-img {
        margin-bottom: 30px;
        height: 60vw;
    }

    #produtos-container {
        flex-direction: column;
    }

    .produtos {
        width: 85vw;
        height: max-content;
        min-height: 300px;
        margin: 20px 0;
    }

    #cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards {
        width: 45vw;
        height: max-content;
        min-height: 340px;
    }

    #produtos-destaque {
        padding: 5px;
    }

    #recomendado {
        flex-direction: column;
    }

    #recomendado-img {
        width: 50vw;
    }

    #recomendado-texto {
        width: 80vw;
        margin-top: 50px;
    }

    #avaliacoes {
        flex-direction: column;
    }

    .avaliacoes-card {
        width: 70vw;
        margin-bottom: 20px;
    }

    .avaliacoes-card > img {
        width: 5vw;
    }

    #informacoes {
        flex-direction: column;
    }

    #informacoes-sobre > p {
        width: 90vw;
    }

    #quick-links {
        width: 90vw;
        margin-top: 20px;
    }

    #informacoes-contatos {
        width: 90vw;
    }

}

@media screen and (max-width: 500px) {
    #abrir-menu {
        margin-left: 0;
    }
    #tooltip-container {
        display: none;
    }

    #apresentacao-texto {
        margin: 20px;
    }
    #cards-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .cards {
        width: 90vw;
        margin: 0 auto;
    }

    .avaliacoes-card {
        width: 85vw;
    }
}