@charset "UTF-8";

@media screen and (max-width: 1000px) {
    #mapa-container {
        flex-direction: column;
        align-items: start;
    }

    #mapa-container iframe {
        padding-top: 10px;
        width: 100%;
        max-width: 600px;
        height: 450px;
    }
}